# Byte-compiled / optimized / DLL files
__pycache__/
*.icloud
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.eggs/
*.egg
*.egg-info/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-delete-this-directory.txt
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
*.cover
*.py,cover
coverage.xml
htmlcov/
nosetests.xml

# Translations
*.mo
*.pot

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py

# Flask stuff
.webassets-cache
instance/

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
ipython_config.py
profile_default/

# pyenv
.python-version

# Environments
.env
.venv
ENV/
env/
env.bak/
venv/
venv.bak/

# Spyder project settings
.spyproject
.spyderproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.dmypy.json
.mypy_cache/
dmypy.json

# Pyre type checker
.pyre/

# Editor/OS settings
.DS_Store
.idea
.index
.vscode

# Temporary files and folders
_flake8_output
temp/
temp_*
tmp/
tmp_*

# Large artifacts and datasets
*.ckpt
*.csv
*.h5
*.onnx
*.pdf
*.pickle
*.pkl
*.pt
*.pth
*.weights.data*
*.weights.index
data/
models/
notebooks/03_deep_learning/pytorch/data/
notebooks/04_nlp/*.tsv
notebooks/06_tabular_ml/*.json
notebooks/06_tabular_ml/automl/data/

# Generated Visualization/Web artifacts
*.html
*.js
*.lock
*.sqlite
*.tif
*.webp
**/*autogluon*/
**/catboost_info/
notebooks/06_tabular_ml/automl/dask-worker-space/
src/visualization/*.html

# Project Specific Cleanups
notebooks/03_deep_learning/pytorch/tensorboard/runs/
notebooks/03_deep_learning/tensorflow/ckpt/
notebooks/03_deep_learning/tensorflow/saved_model/
notebooks/03_deep_learning/tensorflow/tensorboard_logs/
notebooks/07_big_data/spark-warehouse/

# Exception for specific project assets
!assets/
!notebooks/07_big_data/BostonHousing.csv
!notebooks/07_big_data/Iris.csv
!src/web/Tornado/chat/static/chat.js
!src/web/Tornado/chat/templates/*.html
