# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.icloud

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Update by User
.vscode
tmp/
html/
logs/
tf_logs/
.DS_Store
.idea
.index

# special files
*.h5
*.pdf
models/**
_flake8_output

# Large artifacts and datasets
notebooks/06_tabular_ml/*.json
notebooks/04_nlp/*.tsv
notebooks/03_deep_learning/pytorch/data/
notebooks/06_tabular_ml/automl/data/
data/
*.onnx
*.pt
*.pth
*.ckpt
*.weights.data*
*.weights.index

# Generated Visualization/Web artifacts
*.html
*.tif
*.sqlite
*.webp
*.lock
**/*autogluon*/
11.AutoML/dask-worker-space
src/visualization/*.html

# Folder specific cleanups
00.Unsorted/
notebooks/03_deep_learning/tensorflow/TF2.x/ckpt/
notebooks/03_deep_learning/tensorflow/TF2.x/saved_model/
notebooks/03_deep_learning/tensorflow/TF2.x/tensorboard_logs/
notebooks/03_deep_learning/pytorch/tensorboard/runs/
notebooks/07_big_data/spark-warehouse/

# Exception for specific project assets
!notebooks/07_big_data/Iris.csv
!notebooks/07_big_data/BostonHousing.csv
!src/web/Tornado/chat/static/chat.js
!src/web/Tornado/chat/templates/*.html
!assets/
